/* SECTION RESETER */

/* NOTE CSS RESETER */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* !SECTION */

/*SECTION VARIABLES */

:root {
  --bg-color: #fafafa;
  --bg-gradient: linear-gradient(
    105deg,
    rgba(184, 203, 237, 1) 0%,
    rgba(222, 245, 221, 1) 100%
  );
  --bg-border: linear-gradient(
    90deg,
    rgba(124, 166, 252, 1) 0%,
    rgba(119, 235, 129, 1) 100%|
  );
}
/* !SECTION */

/*SECTION BODY  */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* !SECTION */

/* SECTION APP */

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  main {
    padding: 10px;
    height: 100%;
    overflow: auto;
  }
}

/* !SECTION */
